<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swx.ibms.business.performance.mapper.GrjxkhsyMapper">
	<!-- 加载时人员绩效分数结果集 -->
	<resultMap id="JzryjxfsMap" type="com.swx.ibms.business.performance.bean.Jzryjxfs">
		<result property="ydkhid" column="ydkhid" javaType="java.lang.String"></result>
		<result property="dwbm" column="dwbm" javaType="java.lang.String"></result>
		<result property="gh" column="gh" javaType="java.lang.String"></result>
		<result property="mc" column="mc" javaType="java.lang.String"></result>
		<result property="ydkhzf" column="ydkhzf" javaType="java.lang.String"></result>
		<result property="year" column="year" javaType="java.lang.String"></result>
		<result property="jd" column="jd" javaType="java.lang.String"></result>
		<result property="pm" column="pm" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 业务类型名称结果集 -->
	<resultMap id="YwlxmcMap" type="com.swx.ibms.business.appraisal.bean.Ywlxmc">
		<result property="ywlx" column="ywlx" javaType="java.lang.String"></result>
		<result property="ywmc" column="ywmc" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 部门编码结果集 -->
	<resultMap id="BmBmMap" type="com.swx.ibms.business.rbac.bean.Bmmc">
		<result property="bmbm" column="bmbm" javaType="java.lang.String"></result>
		<result property="bmmc" column="bmmc" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 部门编码结果集 -->
	<resultMap id="BmYsMap" type="com.swx.ibms.business.rbac.bean.Bmmc">
		<result property="bmys" column="bmys" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 获得考评得分详情条件过滤后总行数 -->
	<select id="getKpdfxqcount" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	       {call PKG_JXKHZL.pro_getkpdfxq(
	            #{dwbm,mode=IN,jdbcType=VARCHAR},
	            #{bmbm,mode=IN,jdbcType=VARCHAR},
	            #{year,mode=IN,jdbcType=INTEGER},
	            #{jd,mode=IN,jdbcType=INTEGER},
	            #{ywlx,mode=IN,jdbcType=VARCHAR},
	            #{likemc,mode=IN,jdbcType=VARCHAR},
	            #{jssql,mode=IN,jdbcType=VARCHAR},
	            #{count,mode=OUT,jdbcType=INTEGER},
	            #{errmsg,mode=OUT,jdbcType=VARCHAR}
	       )}
	    ]]>
	</select>
	<!-- 加载时获得人员信息,人员绩效分数 -->
	<select id="getJzryjxfs" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	       {call PKG_JXKHZL.pro_getjzryjxfs(
	           #{dwbm,mode=IN,jdbcType=VARCHAR},
	           #{bmbm,mode=IN,jdbcType=VARCHAR},
	           #{year,mode=IN,jdbcType=INTEGER},
	           #{jd,mode=IN,jdbcType=INTEGER},
	           #{ywlx,mode=IN,jdbcType=VARCHAR},
	           #{likemc,mode=IN,jdbcType=VARCHAR},
	           #{jssql,mode=IN,jdbcType=VARCHAR},
	           #{begin,mode=IN,jdbcType=INTEGER},
	           #{end,mode=IN,jdbcType=INTEGER},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=JzryjxfsMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR} 
	       )}
	    ]]>
	</select>
	<!-- 根据月度考核id获得指标考评得分,业务名称和业务类型 -->
	<select id="getZbkpdf" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	       {call PKG_JXKHZL.pro_getzbkpdf(
	           #{ydkhid,mode=IN,jdbcType=VARCHAR},
	           #{ywzf,mode=OUT,jdbcType=DOUBLE},
	           #{zbkpdf,mode=OUT,jdbcType=CLOB},
	           #{ywlx,mode=OUT,jdbcType=VARCHAR},
	           #{zpjdf,mode=OUT,jdbcType=DOUBLE},
	           #{pdjb,mode=OUT,jdbcType=VARCHAR},
	           #{pdjbmc,mode=OUT,jdbcType=VARCHAR},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=YwlxmcMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR} 
	       )}
	    ]]>
	</select>
	<!-- 根据直接领导工号获得单位编码 -->
	<select id="getZjldbmbm" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.pro_getzjldbmbm(
	           #{dwbm,mode=IN,jdbcType=VARCHAR},
	           #{gh,mode=IN,jdbcType=VARCHAR},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=BmBmMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR}
	       )}
	    ]]>
	</select>
	<!-- 通过单位编码，部门编码sql语句找到bmys -->
	<select id="getBmys" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.pro_getbmys(
	           #{dwbm,mode=IN,jdbcType=VARCHAR},
	           #{bmbmsql,mode=IN,jdbcType=VARCHAR},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=BmYsMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR}
	       )}
	    ]]>
	</select>
	<!-- 通过登陆人单位编码,登陆人工号,查询单位编码找到相应部门数据 -->
	<select id="getXgBm" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.pro_getxgbm(
	           #{cxdwbm,mode=IN,jdbcType=VARCHAR},
	           #{bmys,mode=IN,jdbcType=VARCHAR},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=BmBmMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR}
	        )}
	    ]]>
	</select>
	<!-- 通过登陆人单位编码,登陆人工号,返回考核行数 -->
	<select id="getkhcount" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.pro_getgrjxcount(
	           #{dwbm,mode=IN,jdbcType=VARCHAR},
	           #{gh,mode=IN,jdbcType=VARCHAR},
	           #{count,mode=OUT,jdbcType=INTEGER},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR}
	        )}
	    ]]>
	</select>
	<!-- 通过部门映射找到业务类型 -->
	<select id="getYwlxbmByBmys" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.pro_getywlxbm(
	           #{bmys,mode=IN,jdbcType=VARCHAR},
	           #{cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=YwlxmcMap},
	           #{errmsg,mode=OUT,jdbcType=VARCHAR}
	        )}
	    ]]>
	</select>
    <!-- 通过部门编码查询部门名称 -->
	<select id="getDwmcByDwbm" parameterType="java.util.Map"
		statementType="CALLABLE">
	    <![CDATA[
	        {call PKG_JXKHZL.select_getdwmcbydwbm(
	           #{dwbm,mode=IN,jdbcType=VARCHAR},
	           #{dwmc,mode=OUT,jdbcType=VARCHAR}
	        )}
	    ]]>
	</select>
	<!-- 通过月度考核id查询业务考核分值id -->
	<select id="getYwkhfzidByYdkhid" resultType="java.lang.String">
		select id  from yx_grjx_ywkhfz
		where ydkhid = #{ydkhid}
	</select>

	<!--查询个人绩效排名-->
	<select id="getRankOfGrjx" resultType="java.util.HashMap">
		select dense_rank() over (partition by k.year,f.ywlx order by nvl(f.zpjdf,0) desc) pm,
		k.id ydkhid,
		k.dwbm,
		k.year,
		k.gh
		from YX_GRJX_YWKHFZ f
		inner join YX_GRJX_YDKH k on k.id = f.ydkhid
		where k.dwbm = #{dwbm}
		<if test="year != '' and year != null">
			and k.year = #{year}
		</if>
	</select>

	<!--根据条件查询个人绩效-->
	<select id="getGrjxByCondition" resultType="java.util.HashMap">
		select a.*
		from (
			select t.*,
				(select r1.mc mc
				from XT_ZZJG_RYBM_tyyw r1
				where r1.dwbm = t.dwbm
				and r1.gh = t.gh
				union
				select r2.mc mc
				from xt_zzjg_rybm r2
				where r2.dwbm = t.dwbm
				and r2.gh = t.gh
				) mc,
				(select bmlbmc
				from XT_GRJX_BMLB b
				where b.bmlbbm = t.ywlx
				) bmlbmc,
				(select ry.name
				from XT_GRJX_RYTYPE ry
				where ry.id = t.rylx
				) rylxmc
			from (
				select k.id ydkhid,
					k.dwbm,
					(select d.dwmc
					from xt_zzjg_dwbm_tyyw d
					where d.dwbm = #{dwbm}
					) dwmc,
					k.gh,
					k.year,
					k.ydkhzf,
					k.sfgs,
					f.ywlx,
					dbms_lob.substr(f.zbkpdf,4000,1) zbkpdf,
					nvl(f.zpjdf, 0) zpjdf,
					nvl(f.ywzf, 0) ywzf,
					f.pdjb,
					f.bmbm,
					f.pdjbmc,
					f.rylx
				from YX_GRJX_YDKH k
				inner join YX_GRJX_YWKHFZ f on k.id = f.ydkhid
				where k.dwbm = #{dwbm}
				<if test="gh != '' and gh != null">
					and k.gh = #{gh}
				</if>
				<if test="sfgs != '' and sfgs != null">
					and k.sfgs = #{sfgs}
				</if>
				<if test="year != '' and year != null">
					and k.year = #{year}
				</if>
				<if test="kssj != '' and kssj != null">
					and K.ksrq &gt;= to_date(#{kssj}, 'yyyy-MM-dd')
				</if>
				<if test="jssj != '' and jssj != null">
					and K.jsrq &lt;= to_date(#{jssj}, 'yyyy-MM-dd')
				</if>
				<if test="bmlbbm != '' and bmlbbm != null">
					and f.ywlx = #{bmlbbm}
				</if>
				<if test="bmbm != null and bmbm.size() > 0">
					and (case when length(f.bmbm) = 4 then f.bmbm
					          when length(f.bmbm) > 4 then
					            case when substr(f.bmbm,1,4) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,1,4)
									 when substr(f.bmbm,6,9) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,6,9)
									 when substr(f.bmbm,11,14) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,11,14)
									 when substr(f.bmbm,16,19) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,16,19)
									 when substr(f.bmbm,21,24) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,21,24)
									 when substr(f.bmbm,26,29) in
										<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
											#{item}
										</foreach>
										then substr(f.bmbm,26,29)
								end
						end) in
					<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
						#{item}
					</foreach>
				</if>
			) t
		) a
		<if test="mc != '' and mc != null">
			where a.mc = #{mc}
		</if>
		order by a.ywlx asc, a.zpjdf desc

	</select>

	<!--系统首页个人绩效-->
	<select id="getGrjxOfIndex" resultType="java.util.HashMap">
		select t.*,
		(select r1.mc mc
		from XT_ZZJG_RYBM_tyyw r1
		where r1.dwbm = t.dwbm
		and r1.gh = t.gh
		union
		select r2.mc mc
		from xt_zzjg_rybm r2
		where r2.dwbm = t.dwbm
		and r2.gh = t.gh
		) mc,
		(select bmlbmc
		from XT_GRJX_BMLB b
		where b.bmlbbm = t.ywlx
		) bmlbmc
		from (
		select k.dwbm,
		k.gh,
		k.year,
		k.ydkhzf,
		k.sfgs,
		k.sfsp,
		f.ywlx,
		nvl(f.zpjdf, 0) zpjdf,
		f.pdjb,
		f.bmbm,
		f.pdjbmc
		from YX_GRJX_YDKH k
		inner join YX_GRJX_YWKHFZ f on k.id = f.ydkhid
		where k.dwbm = #{dwbm}
		and k.sfsp = '1'
		<if test="year != '' and year != null">
			and k.year = #{year}
		</if>
		<if test="bmbm != null and bmbm.size() > 0">
			and f.bmbm in
			<foreach item='item' index='index' collection='bmbm' open='(' separator=',' close=')'>
				#{item}
			</foreach>
		</if>
		) t
		order by t.zpjdf desc
	</select>


</mapper>
