<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>司法档案-档案查询</title>

    <link type="text/css" rel="stylesheet" href="../../css/queryimj.css">
    <link href="../../css/bounced.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../js/plugin/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../js/plugin/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../css/zTreeStyle/ztreedemo.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/zTreeStyle/zTreeStyle.css" type="text/css"/>

    <script type="text/javascript" src="../../js/plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/plugin/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../js/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../js/zhyw/utils/common.js"></script>
    <script type="text/javascript" src="../../js/zhyw/utils/constant.js"></script>
    <script type="text/javascript" src="../../js/plugin/ztree/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="../../js/plugin/ztree/ztreemodel.js"></script>
    <style>
        .right_list {
            height: 50px;
            width: 88%;
            float: left;
        }

        .right_list > span {
            float: left;
            height: 32px;
            display: inline-block;
            width: 28%;
        }

        .right_list > input {
            border-radius: 5px;
            border: 1px solid #c1c1c1;
            width: 250px;
            height: 28px;
        }

        .list_1 {
            float: right;
            line-height: 32px;
            margin-right: 0px;
        }

        .list_2 {
            float: left;
            width: 45%;
            height: 32px;
            line-height: 32px;
        }
    </style>
</head>
<body style="font-family: 微软雅黑 ">
<div class="queryimj">
    <div style="width: 100%; height: 80px;">
        <button id='sfda_cx_fc' class="cx_bt">
            <a id='sfda_cx_fc_a' style="width: 100%;height: 100%;text-decoration: none; color: #0081c2;display: inline-block;padding-top: 6px;box-sizing: border-box;">封存档案查询&nbsp;&gt;&gt;</a>
        </button>
    </div>
    <div class="title_logo">
        <div style="border: 0.5px solid #c1c1c1; margin-top: 22px; width: 328px; float: left"></div>
        <div style="float: left;">
            <div style="width: 46px; height: 46px; margin-left: 34px; background: url('../../image/cx.png') no-repeat; float: left"></div>
            <div style="font-size: 24px; color: #333; margin-left: 22px; line-height: 46px;; float: left;">检察官司法档案查询</div>
        </div>
        <div style="border: 0.5px solid #c1c1c1; margin-top: 22px; width: 327px; float: left; margin-left: 34px"></div>
    </div>
    <div class="imj_content">
        <div style="width: 100%; height: 40px;">
            <!--<div style="width: 250px; height: 40px; float: left;">
				<span style="float: left; line-height: 27px; margin-right: 5px; font-size: 13px;">检察院</span>
                <div style="height: 25px; position: relative; width: 180px; border: 1px solid #c1c1c1; border-radius: 4px; float: left; background: #fff;">
                    <input id="citySel" type="text" readonly style="border: none; width: 90%; height: 25px; margin-left: 3px;"/>
                    <a id="menuBtn" href="#" onclick="showMenu(); return false;" class="a_style" style="height: 25px; line-height: 25px; background: url('../../js/plugin/easyui/themes/bootstrap/images/combo_arrow.png') no-repeat center center; background-color: #F2F2F2"></a>
                    <div id="menuContent" style="display: none; position: absolute; z-index: 110;">
                        <ul id="treeDemo" class="ztree" style="margin-top: 0; width: 200px; background-color: #fff ; "></ul>
                    </div>
                </div>
            </div>-->

            <!--单位树改造-->
            <div style="width: 270px; height: 32px; line-height: 28px; float: left;">
                <span style="float: left; line-height: 27px; margin-right: 5px; font-size: 13px;">单位：</span>
                <input id="citySel" style="width: 202px;height: 28px;line-height:32px;"/>
            </div>

            <div style="width: 255px; height: 32px; line-height: 28px; float: left; margin-left: 10px;">
                <label style="font-size: 14px; color: #333; line-height: 28px; float: left;">起始时间：</label>
                <input class="easyui-datebox" id="startDate" class="startDate" name="startDate" style="width: 80px;height:28px;"></input> -
                <input class="easyui-datebox" id="endDate" class="endDate" name="endDate" style="width: 80px;height:28px;"></input>
            </div>

            <div style="width: 190px;float: left;">
                <label style="font-size: 14px; color: #333;margin-left: 10px">是否公示：</label>
                <select id='ifgs' class="easyui-combobox" editable = "false" style="width: 100px; height: 28px; color: #333; padding: 4px 2px; float: right">
                    <option value=''>所有</option>
                    <option value='1'>已公示</option>
                    <option value='2'>未公示</option>
                </select>
            </div>

            <div style="width: 190px;float: left; margin-left: 10px;">
                <label style="font-size: 14px; color: #333;line-height: 28px; float: left; margin-left: 10px;">是否归档：</label>
                <select id='isStore' class="easyui-combobox" editable = "false" style="width: 100px; height: 28px; color: #333; padding: 4px 2px; float: right">
                    <option value=''>所有</option>
                    <option value='1'>已归档</option>
                    <option value='2'>未归档</option>
                </select>
            </div>
        </div>

        <div class="all_input">
            <input id="ssrmc" type="text" placeholder="请输入你要查询的人员名称" style="width: 773px; height: 100%; border: none; border-left: 1px solid #c9c9c9; text-indent: 15px; float: left; line-height: 50px; border-bottom-left-radius: 5px; border-top-left-radius: 5px;">
            <button onclick="cx(0)" style="cursor: pointer">查询</button>
        </div>
        <div class="content_bt">
            <span id="selectcount" style="display: inline-block; font-size: 14px; color: #333"></span>
            <div id="uniteCreate" onclick="uniteCreateDetail();" style="display: none; cursor: pointer; width: 126px; height: 30px; background: url('../../image/xj.png') no-repeat; float: right; color: white; text-align: center; line-height: 30px; margin-left: 10px;">
                统一创建档案
            </div>
            <div id="czj" onclick="czj();" style="display: none; cursor: pointer; width: 126px; height: 30px; background: url('../../image/xj.png') no-repeat; float: right; color: white; text-align: center; line-height: 30px;">
                查看我的档案
            </div>
            <div id="jx" onclick="showDetail();" style="display: none; cursor: pointer; width: 126px; height: 30px; background: url('../../image/xj.png') no-repeat; float: right; color: white; text-align: center; line-height: 30px; margin-right: 10px;">
                新建我的档案
            </div>
            <div id="sfda_grxx_cx" onclick="showDetail();" style="display: none; cursor: pointer; width: 126px; height: 30px; background: url('../../image/xj.png') no-repeat; float: right; color: white; text-align: center; line-height: 30px; margin-right: 10px;">
                信息批量导入
            </div>
        </div>
        <div class="content_dd">
            <ul id='dagzlist'></ul>
        </div>
    </div>

    <div id="xjtjnfDetail" class="bounced" style="display: none">
        <div class="bounced_all" style="height:250px">
            <div class="bounced_tot">
                <span>新建我的司法档案</span>
                <div class="tot_img" onclick="closeDetail()"></div>
            </div>
            <div class="xiadivbt1">
                <span style="margin-left: 170px;">确定要创建档案吗？</span>
                <!--<span style="margin-left: 42px;">选择起始年月</span>
                <input class="easyui-datebox" id="xjStartDate" class="xjStartDate" name="xjStartDate"
                       style="width: 100px;height:28px;    border: 1px solid #c1c1c1;"></input>
                <span>-</span>
                <input class="easyui-datebox" id="xjEndDate" class="xjEndDate" name="xjEndDate"
                       style="width: 100px; height:28px;   border: 1px solid #c1c1c1;"></input>-->
            </div>
            <div class="xiadivbt" style="margin-top: 40px;">
                <input type="button" onclick="closeDetail();" value="取消" style="background:#fff;border:1px solid #c1c1c1;color:#666;"/>
                <input type="button" onclick="jx();" value="确定" style="margin-right: 10px;"/>
            </div>
        </div>
    </div>

    <div id="uniteCreateDetail" class="bounced" style="display: none">
        <div class="bounced_all" style="height:300px">
            <div class="bounced_tot">
                <span>统一创建司法档案</span>
                <div class="tot_img" onclick="closeUniteCreateDetail()"></div>
            </div>
            <div class="xiadivbt1">
                <span style="margin-left: 42px;">选择人员：</span>
                <input id="selectPerson" type="text" class="combo" name="selectPerson" style="width: 350px;height: 30px;">
            </div>
            <div class="xiadivbt" style="margin-top: 100px;">
                <input type="button" onclick="closeUniteCreateDetail();" value="取消" style="background:#fff;border:1px solid #c1c1c1;color:#666;"/>
                <input type="button" onclick="uniteCreateFun();" value="确定" style="margin-right: 10px;"/>
            </div>
        </div>
    </div>

    <div class="ajwtfk_foot_foot" style="text-align:center;">
        <div class="r_page">
            <a id="syid" class="ju_btn_white en_btn" style="width: 45px">首页</a>
            <a id="shangyyid" class="ju_btn_white en_btn">上一页</a>
            <a id="xiayiid" class="ju_btn_white en_btn">下一页</a>
            <a id="zhyid" class="ju_btn_white en_btn" style="width: 45px">尾页</a>
            <span>当前第<span id="currentPage">0</span>页，共<span id="totalPages">0</span>页</span>
        </div>
    </div>
</div>
<!-- 填写核查信息-->
<div id="hcinfo" class="bounced" style="display: none">
    <div class="bounced_all_1">
        <div class="bounced_tot">
            <span id="gsinfotitle">核查档案申请</span>
            <div class="tot_img" onclick="closeHcDetail()"></div>
        </div>
        <div class="bounced_select"
             style="margin: 0 auto; margin-top: 20px; width: 444px; height: 55px; position: relative;">
            <div>
                <div class="right_list">
							<span>
								<div class="list_1">问题所属分类：</div>
							</span> <input id="wtfl" name="wtfl" value="">
                </div>
                <div class="right_list">
							<span>
								<div class="list_1">档案问题分类：</div>
							</span> <input id="dafl" name="dafl" value="">
                </div>
                <div class="right_list">
							<span>
								<div class="list_1">问题描述：</div>
							</span> <input type="text" name="wtms">
                </div>
                <div class="right_list">
							<span>
								<div class="list_1">附件：</div>
							</span>
                    <form id="addfileform" method="post" enctype="multipart/form-data">
                        <input id="upfile3" type="text" style="width: 250px; height: 29px;" name="file">
                    </form>
                </div>
            </div>
        </div>
        <div class="bot_btn">
            <button onclick="closeHcDetail();"
                    class="bot_btn_2">取消
            </button>
            <button onclick="addHcda()"
                    class="bot_btn_1">确定
            </button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/zhyw/sfda/sfda_cx.js"></script>
<!-- <script type="text/javascript" src="../../js/zhyw/sfda/sfda_grjbxx.js"></script> -->
<script>
    $('#upfile3').filebox({
        buttonText: '选择文件',
        buttonAlign: 'right'
    });

    $('#wtfl').combobox({
        url: rootPath + '/service/dahc/getHcwtfl',		//请求问题所属分类
        height: 28,
        valueField: 'fl',
        textField: 'flmc'
    });

    $('#dafl').combobox({
        url: rootPath + '/service/dahc/getHcdafl',		//请求档案问题分类
        height: 28,
        valueField: 'fl',
        textField: 'flmc'
    });

    document.onkeydown = function (e) {
        var ev = document.all ? window.event : e;
        if (ev.keyCode == 13) {
            cx(0);
        }
    };

    $("#sfda_grxx_cx").click(function(){
        location.href = rootPath + "/view/sfda/sfda_grxx_plcz.html";
    });
</script>
</html>


