<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>司法档案-嫌疑人详细信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/xyrxxxx.css"/>

    <script type="text/javascript" src="../../js/plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/zhyw/utils/constant.js"></script>
    <script type="text/javascript" src="../../js/zhyw/utils/common.js"></script>
</head>
<body>
<div class="xyrxxxx_top">
    <span class="dagztitle" style="float: left; color:#666; line-height: 50px;font-size:18px;font-family:微软雅黑;"></span>
    <button onclick="clickBack();">
        <img src="../../image/fh.png" style="float: left;margin: 8px 5px 0 18px;">
        <span style="display: inline-block;float: left;color: #095EDA;line-height: 30px;">返回</span>
    </button>
</div>
<div class="xyrxxxx">
    <div class="xyrxxxx_left">
        <div class="left_1">
            <img src="../../image/person.png" style="    float: left;">
            <span id="xm"
                  style=" font-size: 20px;margin-left: 20px;display: inline-block;margin-top: 45px; font-weight: bold;">张某某</span>
        </div>
        <div id="gyxx" class="left_2">
        </div>
    </div>
    <div class="xyrxxxx_right">
        <!--               111 -->
        <div class="right_1">
            <div class="right_1_top">
                <img alt="" src="../../image/icon_xq.png" style="margin: 3px 7px 0 0; float: left;">
                <span>详细个人信息</span>
            </div>
            <table id="xxgrxx" cellpadding="0" cellspacing="0" class="con_table">
            </table>
        </div>

        <!--               2222 -->
        <div class="right_1">
            <div class="right_1_top">
                <img alt="" src="../../image/icon_zm.png" style="margin: 3px 7px 0 0; float: left;">
                <span>政治面貌信息</span>
            </div>
            <table id="zzmmxx" cellpadding="0" cellspacing="0" class="con_table">
            </table>
        </div>

        <!--               3333 -->

        <div class="right_1">
            <div class="right_1_top">
                <img alt="" src="../../image/icon_jy.png" style="margin: 3px 7px 0 0; float: left;">
                <span>羁押信息</span>
            </div>
            <table id="jyxx" cellpadding="0" cellspacing="0" class="con_table">
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/zhyw/sfda/sfda_xyrxxxx.js"></script>
</html>