<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据字典页面</title>
    <!--页面css--->
	<link rel="stylesheet" type="text/css" href="../../../css/xtpz.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/xtpz_rygl.css" />
    <link rel="stylesheet" type="text/css" href="../../../js/plugin/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../../js/plugin/easyui/themes/icon.css">
    <!--<link type="text/css" rel="stylesheet" href="../../../js/plugin/easyui/themes/default/easyui.css" />-->
    <link rel="stylesheet" href="../../../css/zTreeStyle/ztreedemo.css" type="text/css" />
    <link rel="stylesheet" href="../../../css/zTreeStyle/zTreeStyle.css" type="text/css" />
    <style>

        .left_ul li:nth-of-type(9) a{
			background-color:#0876D5;
			color:#fff;
			border: 1px solid #0876D5;
			cursor:pointer;
		}
    </style>
    <!--页面通用js-->
    <script type="text/javascript" src="../../../js/plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/plugin/easyui/jquery.easyui.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../../js/plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../../js/plugin/ztree/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="../../../js/zhyw/utils/constant.js"></script>
    <script type="text/javascript" src="../../../js/zhyw/utils/common.js"></script>
</head>
<body>
<div class="xtpz">
		<div class="xtpz_top">当前位置 : 系统配置</div>
		<div class="xtpz_content">
			<div class="content_left">
				<!-- <ul class="left_ul">
					<li><a href="../system/xtpz_fgld.html">分管领导配置管理</a></li>
					<li><a href="../department/xtpz.html">部门管理</a></li>
					<li><a href="../role/xtpz_jsgl.html">角色管理</a></li>
					<li><a href="../person/xtpz_rygl.html" >人员管理</a></li>
					<li><a href="../system/xtpz_filepath.html">系统配置管理</a></li>
					<li><a href="../quartz/xt_quartz_pz.html" >同步任务配置管理</a></li>
					<li><a href="../ywlx/ywlxfp.html">业务类型/业务类型分配管理</a></li>
					<li><a href="../jxkh/xtpz_ywkhzbgl.html">个人绩效-考核指标配置</a></li>
					<li><a href="../jchc/xtpz_hcpz.html">个人绩效-交叉核查配置</a></li>
					<li><a href="../bmzdpz/xtpz_bmzdpz.html">部门审批人配置</a></li>
					<li><a href="../ywkh/ywkh_khdwpz.html">业务考核-考核单位配置</a></li>
				    <li><a href="../ywkh/ywkh_khlxpz.html" >业务考核-考核类型配置</a></li>
					<li><a href="../zbrs/zbrs.html">业务考核-在编人数配置</a></li>
					<li><a href="../ywgz/xtpz_ywgzpzgl.html">业务考核-考核指标管理</a></li>
					<li><a href="../dataDict/data_dict.html" class="xtpzli">数据字典管理</a></li>
					<li><a href="../logging/xtgl_logging.html">日志管理</a></li>
				</ul> -->
				<div class="left_tree"></div>
			</div>
			<div class="content_right">
				<div class="right_top">
					<img src="../../../image/icon_sd.png"
						style="float: left; margin: 17px 12px 0px 12px;">数据字典配置
				</div>
				 <div class="tree" style="width:20%;float:left;">
                    <ul id="dictTreeDemo" class="ztree" style="height: 500px;width:220px;margin-top: 0; background-color: #f4f4f4;"></ul>
                </div>
				<div class="right_btnk">
					 <ul class="right_ul" style="margin-left: 10px;">
                        <li class="right_li" id="data_dict_li" style="width:105px;">数据字典列表</li>
                        <li id='addDict_li' style="width:105px;">添加数据字典</li>
                   </ul>
					<div class="right_com">
						<div style="width: 100%; height: 20px"></div>					
					  	<div id="hcpz_tb" style="height: 30px">
							    <a id="delButton" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" style="margin-left: 10px;">批量删除</a>
							    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="showFirstDict('')" style="    margin-left: 10px;">重新加载</a>
							</div>                                          
                          <table id="dataDictTable" style="display: none;"></table>
					</div>
					<div class="right_coml">
						 <div class="dataDictAdd_Div">
                            <div style="width: 100%; float:left">
                                <div style="width: 100%; float:left">
                                    <div  id="zx"   class="right_list" style="margin-top: 30px;">
									<span>
										<div class="list_1">选择字典父级</div>
									</span>									 
                                       <div style="float:left;height: 30px; position: relative;width: 400px; border: 1px solid #c1c1c1; border-radius: 4px;">
                                        <input id="citySel1" type="text" readonly style="height: 25px; border: none; width: 370px;margin-top: 2px;" />
                                        <a id="menuBtn1" href="#" onclick="showMenu(); return false;" class="a_style" style="height: 30px;background: url('../../../js/plugin/easyui/themes/bootstrap/images/combo_arrow.png') no-repeat center center; background-color: #F2F2F2"></a>
                                        <div id="menuContent1" style="display: none; position: absolute; z-index: 2;top:31px;width:399px;">
                                            <ul id="treeDemo" class="ztree" style="margin-top: 0; width: 100%; background-color: #fff;padding:0;"></ul>
                                        </div>
                                    </div>                                 
                               </div>
		                <div class="right_list">
							     <span> 
								     <div class="list_1">类型编码</div>
							      </span>
                                        <input  type="text"    id="lxbm">
                                    </div>                                   
                                      <div class="right_list">
							     <span>
								     <div class="list_1">类型值</div>
							      </span>
                                        <input  type="text"  id="lxz">
                                    </div>                                 
                                  <div class="right_list">
									<span>
								   <div class="list_1">名称</div>
									</span> 
									<input type="text" id="mc" >
                                    </div>                                                                      
                                    <div class="right_list">
									<span> 
									  <div class="list_1">标识</div>
									</span>
									<input type="text" id="identifying">
                                    </div>                                    
                                  <div class="right_list">
									<span>
								    <div class="list_1">说明/描述</div>
									</span>
									 <input type="text" multiline="true"  id="mssm">
                                    </div>                              
                                
                                  <div class="right_list">
                                   <button id="addfgld" onclick="addDataDict()" class="fgld_btn" >新增</button>
                                   <button id="updatefgld" class="fgld_btn" >修改</button> 
                                 </div>                  
						</div>					
						</div>			
						<div style="width: 28%; float:left">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
</body>
</body>
<!--本页面js-->
<script type="text/javascript">
	$(".left_tree").load("../left_menu.html");
</script>
<script type="text/javascript" charset="utf-8" src="../../../js/zhyw/xtgl/dataDict/data_dict.js"></script>
</html>